{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10">
            <div class="card" style="margin-top: 10px;">
                <div class="card-header"><b>buckets</b></div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th>name</th>
                        </tr>
                        {% for bucket in buckets %}
                            <tr>
                                <td><a href="/minio/buckets/{{ bucket.name }}/">{{ bucket.name }}</a></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
