{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10">
            <div class="card" style="margin-top: 10px;">
                <div class="card-header">object <b>{{ obj.id }}</b>, child {{ child.id }}</div>
                <div class="card-body">
                    name: {{ child.name }}<br>
                    description: {{ child.description }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
