{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10">
            <div class="card" style="margin-top: 10px;">
                <div class="card-header"><b>objects</b></div>
                <div class="card-body">
                    <form action="/objects/create" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="text" name="name" placeholder="enter name" /><br>
                        <textarea style="margin-top: 10px;" name="description" placeholder="enter description" rows="5" cols="50"></textarea><br>
                        <button style="margin-top: 10px; width: 150px;" type="submit" class="btn btn-primary">add</button><br>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <div class="card" style="margin-top: 10px;">
                <div class="card-header">available objects</div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th>name</th>
                            <th>description</th>
                            <th>commands</th>
                        </tr>
                        {% for obj in objects %}
                            <tr>
                                <td><a href="/objects/{{ obj.id }}/">{{ obj.name }}</a></td>
                                <td>{{ obj.description }}</td>
                                {%  if user.is_staff %}
                                    <td>[<a href="/objects/{{ obj.id }}/delete">delete</a>]</td>
                                {% else %}
                                    <td></td>
                                {%  endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
